<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-title>
      Ax Ionic
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-img src="assets/images/ax_isotype.png"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" class="ion-text-end" style="font-weight: 700">
        <p>Cpe Id</p>
      </ion-col>
      <ion-col size="6" align-items-end>
        <p> {{ cpeid }} </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
